    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <p>Enter Topic</p>
                <%=form_tag home_search_path , :id=>'frm1',:method=>:post do %>
                <input type="text" class="span5" name="search_p" auto-complete='true'>
                <button>Search</button>
                <%end%>
                <div class="search_data container">
                    
                </div>
            </div>
        </div>
    </header>

           
 
    <!-- /.container -->