    <!-- Full Width Image Header -->
    
        <div class="headline" style="top:100px;height:500px;">
            <div class="" style="width:1170px;">
                <p>Enter Topic</p>
                <center>
                <%=form_tag home_search_path , :id=>'frm1',:method=>:post do %>
                <input type="text" class="span5" name="search_p" auto-complete='true'>
                <button>Search</button>
                <%end%>
                </center>
                
            </div>
        </div>
    

           
 
    <!-- /.container -->